aiogram==2.20
fastapi==0.78.0
uvicorn==0.17.6
httpx==0.18.2
python-dotenv==0.19.2
construct-typing==0.5.2
psycopg2-binary==2.9.3
databases==0.5.5
asyncpg==0.25.0
alembic==1.7.5

sentry-sdk==1.5.4
aioredis==2.0.1
